:root {
    --bg-ligt: #f7f8fc;
    --card-color: #000;
    --box-shadow: #c4c4c4;
    --btn-primary: #448AFF;
    --link-gray: #808080;
    --link-gray-hover: #fff;
    --while: #fff;
    --color: #212529;
}

[data-theme="dark"] {
    --bg-ligt: #212529;
    --color: #fff;
    --link-gray-hover: #212529;
}

.swal2-title, .swal2-html-container {
    background: none !important;
}

.swal2-styled.swal2-confirm {
    background: var(--btn-primary) !important;
}

* {
    font-family: 'Nunito', sans-serif;
    background-color: var(--bg-ligt);
    font-size: 18px;
    color: var(--color);
}


.rhap_container {
    padding: 0 15px !important;
    background-color: var(--bg-ligt) !important;
}

.rhap_time {
    color: var(--color) !important;
}

.navbar-light .navbar-nav .nav-link:hover, .navbar-light .navbar-nav .nav-link:focus {
    color: var(--btn-primary);
}

.list-group-item {
    background-color: var(--bg-ligt);
    color: var(--color);
    border: none;
}

.bg-light {
    background-color: var(--bg-ligt) !important;
}

.navbar-light .navbar-nav .nav-link {
    color: var(--color);
}

svg {
    fill: var(--while);
}

.card-title {
    font-size: 18px;
    color: var(--color);
    font-weight: 700;
    margin: 25px 0 10px 0;
    text-decoration: none;
}

.card {
    width: 25%;
    border: none;
    height: calc(25% - 50px);
    margin: 0 40px 40px 0;
    background-color: var(--link-gray-hover) !important;
}

.card img {
    transition: all 0.3s ease-in-out;
}

h3 {
    font-weight: 500;
    margin: 20px 0;
}

.card-footer {
    padding: 5px 0;
    background-color: var(--bg-ligt);
    border-top: none;
}

textarea {
    resize: none;
    width: 100%;
}

.card img:hover {
    transform: translateY(-15px);
    transition: all 0.3s ease-in-out;
    box-shadow: 0 2px 8px var(--box-shadow);
}

.card-body {
    padding: 1rem 0;
}

.card-img-top {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.col .card-img-top {
    width: 280px;
    height: 280px;
}

.link_gray {
    color: var(--link-gray);
    transition: .3s ease-in-out;
}

.link_gray:hover, .link_gray:active, .link_gray:focus {
    color: var(--link-gray-hover);
    transition: .3s ease-in-out;
}

a {
    color: var(--while);
    transition: all .3s ease-in-out;
}

a:hover {
    color: var(--btn-primary);
    transition: all .3s ease-in-out;
}

.btn-primary {
    background-color: var(--btn-primary);;
    border: none;
}


